@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.neon-text{
  font-family: 'Megrim', cursive;
  text-shadow: 
        0 0 5px #ff0000,
        0 0 10px #FF9933,
        0 0 20px #ff0000,
        0 0 40px #FF9933,
        0 0 80px #FF9933;
}

/* loading */
.loading {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

/* Compressing bars style */

.bars-common {
  margin: auto;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bar-one {
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.bar-two {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.bar-three {
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

/* Rotating squares style */

.squares-common {
  margin: auto;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0%;
}

.square-one {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.square-two {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

/* Animation */
/* Compressing bars animation */

.bar-one {
  animation: barOne 1s .33s ease infinite;
  -moz-animation: barOne 1s .33s ease infinite;
  /* Firefox */
  -webkit-animation: barOne 1s .33s ease infinite;
  /* Safari and Chrome */
  -o-animation: barOne 1s .33s ease infinite;
  /* Opera */
}



.bar-two {
  animation: barTwo 1s .66s ease infinite;
  -moz-animation: barTwo 1s .66s ease infinite;
  /* Firefox */
  -webkit-animation: barTwo 1s .66s ease infinite;
  /* Safari and Chrome */
  -o-animation: barTwo 1s .66s ease infinite;
  /* Opera */
}

.bar-three {
  animation: barThree 1s .99s ease infinite;
  -moz-animation: barThree 1s .99s ease infinite;
  /* Firefox */
  -webkit-animation: barThree 1s .99s ease infinite;
  /* Safari and Chrome */
  -o-animation: barThree 1s .99s ease infinite;
  /* Opera */
}

/* Rotating squares animation */

.square-one {
  animation: squareOne 4s .99s ease infinite;
  -moz-animation: squareOne 4s .99s ease infinite;
  /* Firefox */
  -webkit-animation: squareOne 4s .99s ease infinite;
  /* Safari and Chrome */
  -o-animation: squareOne 4s .99s ease infinite;
  /* Opera */
}

@keyframes squareOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

.square-two {
  animation: squareTwo 4s .99s ease infinite;
  -moz-animation: squareTwo 4s .99s ease infinite;
  /* Firefox */
  -webkit-animation: squareTwo 4s .99s ease infinite;
  /* Safari and Chrome */
  -o-animation: squareTwo 4s .99s ease infinite;
  /* Opera */
}

@keyframes squareTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* loading */